{
    "endpoint": "https://api-ipv4.porkbun.com/api/json/v3",
    "apikey": "pk1_key",
    "secretapikey": "sk1_key",
    "domain": "example.com",
    "records": [
        { "name": "www" },
        { "name": "home" },
        { "name": "@" }
    ]
}
